body{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.wrapper {
    display: flex;
    align-items: center;
    width: 960px;
    background-color: red;
    
}
.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: stretch;
    height: 960px;
    width: 960px;
    background-color: red;
    overflow: hidden;
    
}
.container:hover, .wrapper:hover {
    background-color: red;
    
}
#gridSize, #gridSize:hover{
    border-radius: 5px;
    width: fit-content;
    height: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    
}
div {
    /* outline: solid black; */
    background-color: white;

}
div.container:hover{
    background-color: red;
}
div:hover{
    background-color: blue;
}
#input, #reset{
    height: 25px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    outline: solid black;
    }
#input{
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height:350px;
        width: 350px;
    }
    .wrapper {
        display: flex;
        align-items: center;
        width: 350px;
        background-color: red;
        
    }
    #gridSize{
        font-size: 11px;
        text-align: center;
        width: fit-content;
        height: fit-content;
        padding: 5px;
    }
}
    
