.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: stretch;
    height: 960px;
    width: 960px;
    background-color: red;
    overflow: hidden;
    
}
.container:hover {
    background-color: red;
    
}
div {
    outline: solid black;
    background-color: white;
    /* width: 6.25%;
    height: 6.25%; */

}
div:hover{
    background-color: blue;
}